
button.boton::before{
    content: 'Pasa por encima';
    font-size: xx-large;
    
}

button.boton:active::after{
    content: 'Hecho';
    font-size: xx-large;
}


button:hover{
    color: white;
}

button:hover{
    background-color: green;
}
